
## Setup

My measurements were based by counting steps. For me, that's 1 step ~= 77.5 cm.
